<div class="index">
  <h1>How to use this app</h1>
  <h4>Once you're logged in, you can track information about your days.</h4>
  <h4>To start, click "New Day." Select a day from the calendar, and feel free to enter notes in the accompanying field - you can always edit them later.</h4>
  <h4>Enter in anything you did today that felt like a win - no matter how small!</h4>
  <h4>For example, I might enter, "Showered - 5 points" or "Exercised - 30 points" or "Called a friend - 20 points"</h4>
  <h4>There is no right or wrong amount of points for a day. Everything you do is better than nothing!</h4>
</div>
