
<p>Track your "wins" every day to get perspective and feel better!</p>

<a class="btn btn-primary" href="./users/sign_up">Register Here</a>
<a class="btn btn-primary" href="./about">Important information!</a>
