<div class="index">
<h1>Some helpful links</h1>
  <div class="links">
    <ul>
      <li><a href="https://www.psychologytoday.com/us/therapists">Psychology Today - Find a Therapist</a></li>
      <li><a href="https://www.nimh.nih.gov/labs-at-nimh/research-areas/clinics-and-labs/geb-sdge/mental-health-links.shtml">National Institute of Mental Health Links</a></li>
      <li><a href="https://www.nasmhpd.org/content/mental-health-links">National Association of State Mental Health Program Directors</a></li>
    </ul>
  </div>

</div>
