<div class = 'index'>
<h2>
  Daily Journal
</h2>

<div id="days">
<ul>
  <% @days.each do |day| %>
    <li>
      <%= link_to day.date, day_path(day) %>
      <%= day.journal %>
    </li>
  <% end %>
</ul>
</div>

<a class="btn btn-primary btn-lg" href="/days/new" role="button">Add New Day &raquo;</a></p>

</div>

