<div class="index">
  <h1>About this app</h1>
  <p>While suffering from clinical depression, it can be hard to get out of bed and do anything to feel better.</p>
  <p>Everyone knows that getting up and doing activities can make you feel better, but it's hard to find the inspiration to do so when you're really suffering.</p>
  <p>I created this app because it was something I would have found useful on my worst days.</p>
  <p>I'm not a doctor. I'm not a mental health professional. This app is something I created as a tool to inspire myself and to better communicate with my therapist. </p>
  <p>THIS APP IS NOT A SUBSTITUTE FOR THERAPY.</p>
  <p>I urge you to seek professional help if you're suffering.</p>
  <a href = "https://www.psychologytoday.com/us/therapists">Here is one place you could start.</a>
</div>
