      <footer class="navbar navbar-fixed-bottom">
        <div class="inner">
          <p>Disclaimer: This is not a substitute for mental health care. Please seek professional help if you think you might be depressed.</p>
          <p>Cover template for <a href="https://getbootstrap.com/">Bootstrap</a>, by <a href="https://twitter.com/mdo">@mdo</a>.</p>
        </div>
      </footer>
