      <div class="jumbotron">
        <div class="container">
          <h1 class="display-3">Everything is Progress</h1>
          <p>Keep track of all the things you do to feel better.</p>
          <p><a class="btn btn-primary btn-lg" href="/about" role="button">About this app &raquo;</a>
          <a class="btn btn-primary btn-lg" href="/about" role="button">Instructions &raquo;</a></p>
        </div>
      </div>


